.bg-image {
    height: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#brand-name {
    font-size: 96px !important;
    margin-bottom: 20%;
}

.persona-headings {
    text-align: center;
}
